# VS Code
.vscode/

# Emscripten
tracy_c.js
tracy_c.d.ts
*.wasm
*.wasm.map

# npm
node_modules/
.npm

# zig
.zig-cache/
zig-out/

# release build
dist/

# local build
tracy
# local build writes to this image
render_c.tga
render_zig.tga
