# VS Code
.vscode/

# Emscripten
tracy_c.js
tracy_c.d.ts
*.wasm
*.wasm.map

# npm
node_modules/
.npm

# zig
.zig-cache/
zig-out/
tests/img/exr/zig_render/
rmse_results.json

# release build
dist/

# local build
tracy
# local build writes to this image
render_c.tga
render_zig.tga
render_zig.exr

compile_commands.json

# python
.venv/
venv/
env/
.uv_cache/
__pycache__/
*.py[cod]
*$py.class
build/
*.egg-info/
.env
.python-version
uv.lock
pyproject.toml

.cache/
