services:

  # starts the vite server
  # NOTE: probably unnessecary
  webapp:
    build:
      context: .
      dockerfile: Dockerfile
      target: dev
    image: tracy:latest
    working_dir: /app/examples/web
    ports: [
      5173:5173
    ]
    volumes:
      - .:/app:z
      - /app/examples/web/node_modules
      - /app/zig-cache
      - /app/zig-out

    command: npm run dev:docker

  # runs zig tests
  # NOTE: might be needed to ensure tests pass on a neutral environment from time to time. Reusable for github actions
  test-runner:
    image: tracy:latest
    build: 
      context: .
      dockerfile: Dockerfile
      target: test
    working_dir: /app/examples/web
    volumes:
      # sync directory
      - .:/app:z
      - /app/examples/web/node_modules # prevent local node modules from overwriting containers - needed?

    command: npm run test:native # used to override CMD in Dockerfile

  # nginx server
    # TODO 
    # build files using vite -> copy files to nginx container 
  production:
    build:
      context: .
      dockerfile: Dockerfile
      target: production
    image: tracy:prod
    ports: ["8080:80"]
    
