body {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	background-color: var(--default-background-color);
	color: var(--default-font-color);
}

canvas {
	display: block;
	position: absolute;
	margin: auto;
	inset: 0;
	width: 640px;
	height: 480px;
	background: black;
}

.animated-border {
	padding: 4px;

	/* Create the dashed lines using gradients */
	background:
		linear-gradient(90deg, red 50%, transparent 50%),
		linear-gradient(90deg, red 50%, transparent 50%),
		linear-gradient(0deg, red 50%, transparent 50%),
		linear-gradient(0deg, red 50%, transparent 50%);

	background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;

	/* Define the size of the dashes (e.g., 15px dash, 4px thickness) */
	background-size: 15px 4px, 15px 4px, 4px 15px, 4px 15px;

	/* Initial position of the four "border" lines */
	background-position: 0% 0%, 100% 100%, 0% 100%, 100% 0px;

	/* Apply the animation */
	animation: marching-ants 5s linear infinite;
	}

	@keyframes marching-ants {
	to {
	/* Move the background position to create the animation */
	background-position: 100% 0%, 0% 100%, 0% 0%, 100% 100%;
	}
}

/* default color scheme */
:root {
	--default-font-color: #303030;
	--default-background-color: #e9e9e9;
}

/* dark color scheme (depending on browser settings) */
@media (prefers-color-scheme: dark) {
	:root {
		--default-font-color: #cac5be;
		--default-background-color: #181a1b;
	}
}
