body {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	background-color: var(--default-background-color);
	color: var(--default-font-color);
}

canvas {
	display: block;
	position: absolute;
	margin: auto;
	inset: 0;
	width: 640px;
	height: 480px;
}

/* default color scheme */
:root {
	--default-font-color: #303030;
	--default-background-color: #e9e9e9;
}

/* dark color scheme (depending on browser settings) */
@media (prefers-color-scheme: dark) {
	:root {
		--default-font-color: #cac5be;
		--default-background-color: #181a1b;
	}
}
