name: Publish Docker Image

on: 
  workflow_dispatch: # manual start
  push:
    paths:
      - 'Dockerfile' # when dockerfile changes

env: 
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}-bench


jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write


    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to the Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          target: benchmark-env
          push: true
          tags: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest
